@page
@model _3semProjekt.Pages.LoginCustomerModel
@{
    ViewData["Title"] = "LoginCustomer";
}
<head>
    <link rel="stylesheet" href="~/css/LoginCustomer.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container login-container">
        <div class="row">
            <div class="login-form-1">
                <h3>loginCustomer</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>

            </div>
            <div class="login-form-2">
                <h3>LoginAdmin</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
            </div>
        </div>
    </div>
</body>


